<div class="row">
  <div class="column">
    <h1><%= @post.title %></h1>
    <p><%= @post.body %></p>

    <% @comments.each do |comment| %>
      <div class="callout">
        <p>Comment By: <%= comment.username %> Posted On: <%= comment.created_at.strftime("%d %b. %Y") %></p>
        <p>Posted On: <%= comment.created_at.strftime("%d %b. %Y") %></p>
        <p><%= comment.body %></p>
      </div>
    <% end %>
  </div>
</div>
