<div class="row">
  <div class="column">
    <h1><%= @post.title %></h1>
    <p>Posted By: <%= @post.username %> on <%= @post.created_at.strftime("%b. %d, %Y") %></p>
    <p><%= @post.body %></p>
    <%= link_to "Back to #{@post.topic.name}", topic_posts_path(@post.topic) %>

    <% @comments.each do |comment| %>
      <div class="callout">
        <p>Comment By: <%= comment.username %> on <%= comment.created_at.strftime("%b. %d, %Y") %></p>
        <p><%= comment.body %></p>
      </div>
    <% end %>

    <div class="callout form">
      <h4>Add a comment</h4>
      <%= render "comments/form" %>
    </div>
  </div>
</div>
